<ion-header>
  <ion-toolbar>
    <ion-title>Iniciar sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-button (click)="signIn()">Iniciar sesión</ion-button>
</ion-content>
