<ion-card *ngIf="evento">
  <ion-card-header>
    <ion-card-title>{{ evento.nombre }}</ion-card-title>
    <ion-card-subtitle>
      <ion-icon aria-label="Calendario" name="calendar"></ion-icon>
      {{ evento.fecha | date:'medium' }}<br />
      <ion-icon aria-hidden="false" aria-label="Lugar" name="pin"></ion-icon>{{ evento.sede.nombre}}<br />
      <ion-icon aria-hidden="false" aria-label="Responsable" name="person"></ion-icon>
      {{ evento.responsable.nombre | titlecase }}
      {{ evento.responsable.apellido | titlecase }}<br />
    </ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <div>
      <p>{{ evento.descripcion }}</p>
    </div>
    <ion-button *ngIf="mostrarMasInformacion" [routerLink]="['/evento', evento.id]">
      <ion-icon name="list"></ion-icon>
      <span>Mas información</span>
    </ion-button>
  </ion-card-content>
</ion-card>