<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="userDetails">
      Hola {{ userDetails.given_name }}, estos son los eventos disponibles
    </ion-title>
    <ion-button (click)="signOut()">Cerrar sesión</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngFor="let evento of eventos">
    <app-evento-card [evento]="evento" [mostrarMasInformacion]=true (recargar)="Actualizar()"></app-evento-card>
  </div>
</ion-content>