<ion-header>
  <ion-toolbar>
    <ion-title>
      Leer inscripción a evento
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="buscar">
    <ion-item>
      <ion-label>ID evento</ion-label>
      <ion-input type="number" [(ngModel)]="eventoId"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Clave evento</ion-label>
      <ion-input [(ngModel)]="eventoClave"></ion-input>
    </ion-item>
    <ion-item>
      <ion-button (click)="consultarEvento()">Consultar evento</ion-button>
    </ion-item>
    <div>
      {{eventoMensaje}}
    </div>
  </div>
  <div *ngIf="registrar">
    <div>{{datosEvento}}</div>
    <div>
        <ion-button (click)="leerQR()">Leer QR</ion-button>
        <ion-button (click)="nuevoEvento()">Volver a buscar</ion-button>
    </div>
    <div>{{mensajeQr}}</div>
  </div>
</ion-content>