<ion-header>
  <ion-toolbar>
    <ion-title>Evento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <app-evento-card [evento]="evento" [mostrarMasInformacion]=false></app-evento-card>
  </div>
  <div>
    <ion-card *ngIf="mostrarCardInscripcion">
      <ion-card-header>
        <ion-card-title style="margin-left:-16px;">Inscripción</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div>{{ mensajeInscripcion }}</div>
        <div>
          <div>
            <qrcode *ngIf="mostrarCodigoQR" [qrdata]="codigoQR" [size]="256" [level]="'M'"></qrcode>
          </div>
          <div>
            <ion-button *ngIf="mostrarBotonInscribirse" (click)="agregarInscripcion()">
              <ion-icon name="checkmark-circle"></ion-icon>
              <span>Inscribirse</span>
            </ion-button>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
  <div>
    <ion-card>
      <ion-card-header>
        <ion-card-title style="margin-left:-16px;">Registro de asistencia</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div>{{ mensajeAsistencia }}</div>
        <div>
          <ion-button *ngIf="mostrarBotonAsistir" (click)="agregarAsistencia()">
            <ion-icon name="checkmark-circle"></ion-icon>
            <span>Registrar mi asistencia</span>
          </ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>